.recipe-background {
    background-color: bisque;
}

.recipe-link {
    font-family: monospace ;
    font-size: larger;
}

.hero-image {
    width: 400px;
}

.home-button-div {
    margin-bottom: 15px;
}